interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPrices?currency=SEK&market=DayAhead&deliveryArea=SE1&date=2024-10-15
  response:
    body:
      string: '{"deliveryDateCET":"2024-10-15","version":3,"updatedAt":"2024-10-14T11:17:02.7026319Z","deliveryAreas":["SE1"],"market":"DayAhead","multiAreaEntries":[{"deliveryStart":"2024-10-14T22:00:00Z","deliveryEnd":"2024-10-14T23:00:00Z","entryPerArea":{"SE1":95.81}},{"deliveryStart":"2024-10-14T23:00:00Z","deliveryEnd":"2024-10-15T00:00:00Z","entryPerArea":{"SE1":75.33}},{"deliveryStart":"2024-10-15T00:00:00Z","deliveryEnd":"2024-10-15T01:00:00Z","entryPerArea":{"SE1":84.55}},{"deliveryStart":"2024-10-15T01:00:00Z","deliveryEnd":"2024-10-15T02:00:00Z","entryPerArea":{"SE1":77.60}},{"deliveryStart":"2024-10-15T02:00:00Z","deliveryEnd":"2024-10-15T03:00:00Z","entryPerArea":{"SE1":119.48}},{"deliveryStart":"2024-10-15T03:00:00Z","deliveryEnd":"2024-10-[...]
