interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPriceIndices?currency=SEK&market=DayAhead&date=2025-05-07&resolutionInMinutes=60&indexNames=SE1
  response:
    body:
      string: '{"deliveryDateCET":"2025-05-07","version":3,"updatedAt":"2025-05-06T11:22:13.6833528Z","market":"DayAhead","indexNames":["SE1"],"currency":"SEK","resolutionInMinutes":60,"areaStates":[{"state":"Final","areas":["SE1"]}],"multiIndexEntries":[{"deliveryStart":"2025-05-06T22:00:00Z","deliveryEnd":"2025-05-06T23:00:00Z","entryPerArea":{"SE1":243.58}},{"deliveryStart":"2025-05-06T23:00:00Z","deliveryEnd":"2025-05-07T00:00:00Z","entryPerArea":{"SE1":155.37}},{"deliveryStart":"2025-05-07T00:00:00Z","deliveryEnd":"2025-05-07T01:00:00Z","entryPerArea":{"SE1":137.16}},{"deliveryStart":"2025-05-07T01:00:00Z","deliveryEnd":"2025-05-07T02:00:00Z","entryPerArea":{"SE1":140.54}},{"deliveryStart":"2025-05-07T02:00:00Z","deliveryEnd":"2025-05-07T03:00:00Z","entryPerArea":{"SE1":211.08}},{"deliveryStart":"2025-05-07T03:00:00Z","deliveryEnd":"2025[...]
