interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPrices?date=2024-10-15&currency=EUR&market=DayAhead&deliveryArea=SE1%2CSE2%2CSE3%2CSE4
  response:
    body:
      string: '{"deliveryDateCET":"2024-10-15","version":3,"updatedAt":"2024-10-14T11:17:02.81129Z","deliveryAreas":["SE1","SE2","SE3","SE4"],"market":"DayAhead","multiAreaEntries":[{"deliveryStart":"2024-10-14T22:00:00Z","deliveryEnd":"2024-10-14T23:00:00Z","entryPerArea":{"SE1":8.42,"SE2":8.42,"SE3":8.42,"SE4":8.42}},{"deliveryStart":"2024-10-14T23:00:00Z","deliveryEnd":"2024-10-15T00:00:00Z","entryPerArea":{"SE1":6.62,"SE2":6.62,"SE3":6.62,"SE4":6.62}},{"deliveryStart":"2024-10-15T00:00:00Z","deliveryEnd":"2024-10-15T01:00:00Z","entryPerArea":{"SE1":7.43,"SE2":7.43,"SE3":7.43,"SE4":7.43}},{"deliveryStart":"2024-10-15T01:00:00Z","deliveryEnd":"2024-10-15T02:00:00Z","entryPerArea":{"SE1":6.82,"SE2":6.82,"SE3":6.82,"SE4":6.82}},{"deliveryStart":"2024-10-15T02:00:00Z","deliveryEnd":"2024-10-15T03:00:00Z"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPrices?currency=EUR&market=DayAhead&deliveryArea=SE1%2CSE2%2CSE3%2CSE4&date=2024-10-15
  response:
    body:
      string: '{"deliveryDateCET":"2024-10-15","version":3,"updatedAt":"2024-10-14T11:17:02.81129Z","deliveryAreas":["SE1","SE2","SE3","SE4"],"market":"DayAhead","multiAreaEntries":[{"deliveryStart":"2024-10-14T22:00:00Z","deliveryEnd":"2024-10-14T23:00:00Z","entryPerArea":[...]
[...]
