interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPriceIndices?currency=EUR&market=DayAhead&date=2025-05-07&resolutionInMinutes=60&indexNames=SE1%2CSE2%2CSE3%2CSE4
  response:
    body:
      string: '{"deliveryDateCET":"2025-05-07","version":3,"updatedAt":"2025-05-06T11:22:13.8160753Z","market":"DayAhead","indexNames":["SE1","SE2","SE3","SE4"],"currency":"EUR","resolutionInMinutes":60,"areaStates":[{"state":"Final","areas":["SE1","SE2","SE3","SE4"]}],"multiIndexEntries":[{"deliveryStart":"2025-05-06T22:00:00Z","deliveryEnd":"2025-05-06T23:00:00Z","entryPerArea":{"SE1":22.34,"SE2":21.24,"SE3":56.85,"SE4":90.32}},{"deliveryStart":"2025-05-06T23:00:00Z","deliveryEnd":"2025-05-07T00:00:00Z","entryPerArea":{"SE1":14.25,"SE2":14.33,"SE3":50.11,"SE4":84.73}},{"deliveryStart":"2025-05-07T00:00:00Z","deliveryEnd":"2025-05-07T01:00:00Z","entryPerArea":{"SE1":12.58,"SE2":12.63,"SE3":48.66,"SE4":83.35}},{"deliveryStart":"2025-05-07T01:00:00Z","deliveryEnd":"2025-05-07T02:00:00Z","entryPerArea":{"SE1":12.89,"SE2":11.44,"SE3":49.88,"SE4":86.24}},{"deliveryStart":"2025-05-07T02:00:00Z","deliveryEnd":"2025-05-[...]
[...]
