interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPriceIndices?currency=EUR&market=DayAhead&date=2025-05-10&resolutionInMinutes=60&indexNames=FI
  response:
    body:
      string: '{"deliveryDateCET":"2025-05-10","version":0,"updatedAt":"2025-05-07T07:47:27.3376992Z","market":"DayAhead","indexNames":["FI"],"currency":"EUR","resolutionInMinutes":60,"areaStates":[],"multiIndexEntries":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
