interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/GetAnnuals?currency=EUR&market=DayAhead&deliveryArea=FI
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/AggregatePrices/GetAnnuals?currency=EUR&market=DayAhead&deliveryArea=FI
  response:
    body:
      string: '{"updatedAt":"2024-03-26T13:18:33.301921Z","prices":[{"year":2024,"deliveryStart":"2024-01-01","deliveryEnd":"2024-10-16","averagePerArea":{"FI":47.97},"maxPerArea":{"FI":1896},"minPerArea":{"FI":-20.01}},{"year":2023,"deliveryStart":"2023-01-01","deliveryEnd":"2023-12-31","averagePerArea":{"FI":56.47},"maxPerArea":{"FI":777.18},"minPerArea":{"FI":-500}},{"year":2022,"deliveryStart":"2022-01-01","deliveryEnd":"2022-12-31","averagePerArea":{"FI":154.04},"maxPerArea":{"FI":861.14},"minPerArea":{"FI":-2.08}},{"year":2021,"deliveryStart":"2021-01-01","deliveryEnd":"2021-12-31","averagePerArea":{"FI":72.34},"maxPerArea":{"FI":1000.07},"minPerArea":{"FI":-1.41}},{"year":2020,"deliveryStart":"2020-01-01","deliveryEnd":"2020-12-31","averagePerArea":{"FI":28.02},"maxPerArea":{"FI":254.44},"minPerArea":{"FI":-1.73}},{"year":2019,"deliveryStart":"2019-01-01","deliveryEnd":"2019-12-31","averagePerArea":{"FI":44.04},"maxPerArea":{"FI":199.98},"minPerArea":{"FI":0.12}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/AggregatePrices/GetAnnuals?currency=EUR&market=DayAhead&deliveryArea=FI
  response:
    body:
      string: '{"updatedAt":"2024-03-26T13:18:33.301921Z","prices":[{"year":2024,"deliveryStart":"2024-01-01","deliveryEnd":"2024-10-16","averagePerArea":{"FI":47.97},"maxPerArea":{"FI":1896},"minPerArea":{"FI":-20.01}},{"year":2023,"deliveryStart":"2023-01-01","deliveryEnd":"2023-12-31","averagePerArea":{"FI":56.47},"maxPerArea":{"FI":777.18},"minPerArea":{"FI":-500}},{"year":2022,"deliveryStart":"2022-01-01","deliveryEnd":"2022-12-31","averagePerArea":{"FI":154.04},"maxPerArea":{"FI":861.14},"minPerArea":{"FI":-2.08}},{"year":2021,"deliveryStart":"2021-01-01","deliveryEnd":"2021-12-31","averagePerArea":{"FI":72.34},"maxPerArea":{"FI":1000.07},"minPerArea":{"FI":-1.41}},{"year":2020,"deliveryStart":"2020-01-01","deliveryEnd":"2020-12-31","averagePerArea":{"FI":28.02},"maxPerArea":{"FI":254.44},"minPerArea":{"FI":-1.73}},{"year":2019,"deliveryStart":"2019-01-01","deliveryEnd":"2019-12-31","averagePerArea":{"FI":44.04},"maxPerArea":{"FI":199.98},"minPerArea":{"FI":0.12}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
