interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPriceIndices?currency=EUR&market=DayAhead&date=2025-05-07&resolutionInMinutes=30&indexNames=FI
  response:
    body:
      string: '{"deliveryDateCET":"2025-05-07","version":3,"updatedAt":"2025-05-06T11:22:10.8722033Z","market":"DayAhead","indexNames":["FI"],"currency":"EUR","resolutionInMinutes":30,"areaStates":[{"state":"Final","areas":["FI"]}],"multiIndexEntries":[{"deliveryStart":"2025-05-06T22:00:00Z","deliveryEnd":"2025-05-06T22:30:00Z","entryPerArea":{"FI":22.34}},{"deliveryStart":"2025-05-06T22:30:00Z","deliveryEnd":"2025-05-06T23:00:00Z","entryPerArea":{"FI":22.34}},{"deliveryStart":"2025-05-06T23:00:00Z","deliveryEnd":"2025-05-06T23:30:00Z","entryPerArea":{"FI":14.26}},{"deliveryStart":"2025-05-06T23:30:00Z","deliveryEnd":"2025-05-07T00:00:00Z","entryPerArea":{"FI":14.26}},{"deliveryStart":"2025-05-07T00:00:00Z","deliveryEnd":"2025-05-07T00:30:00Z","entryPerArea":{"FI":12.59}},{"deliveryStart":"2025-05-07T00:30:00Z","deliveryEnd":"2025-05-07T01[...]
