interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/AggregatePrices?currency=EUR&market=DayAhead&deliveryArea=FI&year=2025
  response:
    body:
      string: '{"updatedAt":"2025-05-06T11:30:47.285765Z","year":2025,"market":"DayAhead","deliveryAreas":["FI"],"multiAreaDailyAggregates":[{"deliveryStart":"2025-05-07","deliveryEnd":"2025-05-07","averagePerArea":{"FI":73.21},"maxPerArea":{"FI":158.78},"minPerArea":{"FI":12.59}},{"deliveryStart":"2025-05-06","deliveryEnd":"2025-05-06","averagePerArea":{"FI":30.73},"maxPerArea":{"FI":85.15},"minPerArea":{"FI":4.46}},{"deliveryStart":"2025-05-05","deliveryEnd":"2025-05-05","averagePerArea":{"FI":27.94},"maxPerArea":{"FI":89.58},"minPerArea":{"FI":4.2}},{"deliveryStart":"2025-05-04","deliveryEnd":"2025-05-04","averagePerArea":{"FI":1.53},"maxPerArea":{"FI":7.99},"minPerArea":{"FI":-2.84}},{"deliveryStart":"2025-05-03","deliveryEnd":"2025-05-03","averagePerAre[...]
[...]
