interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPrices?date=2024-10-15&currency=EUR&market=DayAhead&deliveryArea=FI
  response:
    body:
      string: '{"deliveryDateCET":"2024-10-15","version":3,"updatedAt":"2024-10-14T11:17:01.4540464Z","deliveryAreas":["FI"],"market":"DayAhead","multiAreaEntries":[{"deliveryStart":"2024-10-14T22:00:00Z","deliveryEnd":"2024-10-14T23:00:00Z","entryPerArea":{"FI":45.13}},{"deliveryStart":"2024-10-14T23:00:00Z","deliveryEnd":"2024-10-15T00:00:00Z","entryPerArea":{"FI":27.31}},{"deliveryStart":"2024-10-15T00:00:00Z","deliveryEnd":"2024-10-15T01:00:00Z","entryPerArea":{"FI":25.68}},{"deliveryStart":"2024-10-15T01:00:00Z","deliveryEnd":"2024-10-15T02:00:00Z","entryPerArea":{"FI":16.71}},{"deliveryStart":"2024-10-15T02:00:00Z","deliveryEnd":"2024-10-15T03:00:00Z","entryPerArea":{"FI":12.04}},{"deliveryStart":"2024-10-15T03:00:00Z","deliveryEnd":"2024-10-15T04[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPrices?currency=EUR&market=DayAhead&deliveryArea=FI&date=2024-10-15
  response:
    body:
      string: '{"deliveryDateCET":"2024-10-15","version":3,"updatedAt":"2024-10-14T11:17:01.4540464Z","deliveryAreas":["FI"],"market":"DayAhead","multiAreaEntries":[{"deliveryStart":"2024-10-14T22:00:00Z","deliveryEnd":"2024-10-14T23:00:00Z","entryPerArea":{"FI":45.13}},{"deliveryStart":"2024[...]
[...]
