interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/AggregatePrices?currency=EUR&market=DayAhead&deliveryArea=FI&year=2024
  response:
    body:
      string: '{"updatedAt":"2024-10-15T11:26:23.648334Z","year":2024,"market":"DayAhead","deliveryAreas":["FI"],"multiAreaDailyAggregates":[{"deliveryStart":"2024-10-16","deliveryEnd":"2024-10-16","averagePerArea":{"FI":12.19},"maxPerArea":{"FI":34.66},"minPerArea":{"FI":0.67}},{"deliveryStart":"2024-10-15","deliveryEnd":"2024-10-15","averagePerArea":{"FI":41.68},"maxPerArea":{"FI":129.35},"minPerArea":{"FI":10.16}},{"deliveryStart":"2024-10-14","deliveryEnd":"2024-10-14","averagePerArea":{"FI":128.78},"maxPerArea":{"FI":285.12},"minPerArea":{"FI":19.66}},{"deliveryStart":"2024-10-13","deliveryEnd":"2024-10-13","averagePerArea":{"FI":12.04},"maxPerArea":{"FI":40.2},"minPerArea":{"FI":-0.51}},{"deliveryStart":"2024-10-12","deliveryEnd":"2024-10-12","average[...]
[...]
