interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataportal-api.nordpoolgroup.com/api/DayAheadPriceIndices?currency=EUR&market=DayAhead&date=2025-05-07&resolutionInMinutes=60&indexNames=SYSTEM
  response:
    body:
      string: '{"deliveryDateCET":"2025-05-07","version":2,"updatedAt":"2025-05-06T10:56:31.0120062Z","market":"DayAhead","indexNames":["SYSTEM"],"currency":"EUR","resolutionInMinutes":60,"areaStates":[{"state":"Final","areas":["SYSTEM"]}],"multiIndexEntries":[{"deliveryStart":"2025-05-06T22:00:00Z","deliveryEnd":"2025-05-06T23:00:00Z","entryPerArea":{"SYSTEM":74.2}},{"deliveryStart":"2025-05-06T23:00:00Z","deliveryEnd":"2025-05-07T00:00:00Z","entryPerArea":{"SYSTEM":68.4}},{"deliveryStart":"2025-05-07T00:00:00Z","deliveryEnd":"2025-05-07T01:00:00Z","entryPerArea":{"SYSTEM":67.47}},{"deliveryStart":"2025-05-07T01:00:00Z","deliveryEnd":"2025-05-07T02:00:00Z","entryPerArea":{"SYSTEM":68.04}},{"deliveryStart":"2025-05-07T02:00:00Z","deliveryEnd":"2025-05-07T03:00:00Z","entryPerArea":{"SYSTEM":70.3}},{"deliveryStart":"2025-05-07T03:00:00Z","deliveryEnd":"[...]
[...]
